
  <div id="topNav">
  <div id="intro">Create your daily outfit and share with friends!</div>
  <ul>
      <li><a href=#>My account</a></li>
      <li><a href=#>Log out</a></li>
  </ul> 
</div>
<div class="clear"></div>
<div id="titleNav">
  <ul>
    <li id="title">Virtual Closet</li> 
    <li id="image1"><%=  image_tag("outfits.jpg", width:"400")%></li>
  </ul>
  <p id="desc"> Drag multiple items from the closet to the center canvas,</br> and click save button to save the outfit</p>
   
</div>
<div class="clear"></div>




<!--<%= @current_user.id %> -->

<div id="closet">

  <h2 class="ui-widget-header"><%= @user.name %>'s Closet</h2>
  
  <div id="catalog">
    <ul >
      <li><a href='#tab1'>Top</a></li>
      <li><a href='#tab2'>Bottom</a></li>
      <li><a href='#tab3'>Shoes</a></li>
      <li><a href='#tab4'>Others</a></li>
    </ul>
    
    <div id="tab1"> 
      <ul type=none>
        <% @items.each do |item| %>
          <% if item.category_id==1 %>
            <li><span id="<%= item.id %>"></span><%=  image_tag(item.pic.url, width:"100")%></li>

          <%  end %>
        <% end %>

      </ul>
    </div>

    <div id='tab2'>
      <ul type=none>
        <% @items.each do |item| %>
          <% if item.category_id==2 %>
            <li><span id="<%= item.id %>"></span><%= image_tag(item.pic.url, width:"100") %></li>
          <%  end %>
        <% end %>
    </ul>
    </div>

    <div id='tab3'>
      <ul type=none>
        <% @items.each do |item| %>
          <% if item.category_id==3 %>
            <li><span id="<%= item.id %>"></span><%= image_tag(item.pic.url, width:"100") %></li>
          <%  end %>
        <% end %>
    </ul>
    </div>   

    <div id='tab4'>
      <ul type=none>
        <% @items.each do |item| %>
          <% if item.category_id==4 %>
            <li><span id="<%= item.id %>"></span><%= image_tag(item.pic.url, width:"100") %></li>
          <%  end %>
        <% end %>
    </ul>
    </div>
 
  </div><!--end of catalog -->

  <div id="add_new">
    <h2 class="ui-widget-header">Add new Items</h2>

    <div id="addForm">
      <%= simple_form_for @item, :html=>{:multipart=>true} do |i| %>
        <%= i.hidden_field :user_id, :value=>@current_user.id %>
        <%= i.file_field :pic %>
        <%= i.input :name, label:'Item name' %>
        <%= i.association :category  %>  
        <%= i.submit %>
      <% end %>
    </div><!--end of addForm -->
  </div><!--end of add_new -->
</div><!--end of closet-->
 
<div id="canvas">
  <h2 class="ui-widget-header">Outfit Canvas</h2>
  <div id="outfit">
    <ol type=none id="outfit_list">
      <li class="placeholder">Add your clothes here</li>
    </ol>
    
    <%= form_for([@user, @user.outfits.new]) do |f| %>
    <!--
    <form action="/user/[params :id]/outfits" method="post">
    -->
      <div id="o_name">
        <label for="name">Outfit Name</label>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <input type="hidden" name="outfits[user_id]" value="<%= @current_user.id %>" />
        <input type="text" name="outfits[name]">
       
        <input id="save" type="submit" value="Save" name="submit">
      </div>
      <button id="submit" type="button">Add Outfit</button>
    <% end %>
  </div>
</div>

<div id="recent-outfit">
    <h2 class="ui-widget-header">Recent Outfits</h2>
    <div id="recent-outfitlist">
      <% @outfits.each do |f| %>
        <p><%= link_to f.name,  "outfits/#{f[:id]}" || outfit_path(f[:id]) %></p>
      <% end %>
    </div>
</div>
<div id="clear"></div>

